#head {
  position: relative;
  left: -15%;
  top: -86%;
  opacity: 0.9;
  visibility: hidden;
}

#stomach {
  position: relative;
  left: -24.9%;
  right:60px;
  top: -65.8%;
  /* margin-bottom: 10px; */
  visibility: hidden;
}

#body {
  background-color: #f2f2de;
  overflow: hidden;
}

#settings-button {
 width: 4%;
  height: 7%;
  border: 0;
}

.buttonsetter {
  top: -48%;
  left: 93%;
  position: relative;
}

#lhand {
  position: relative;
  left: -40.8%;
  top: -67%;
  visibility: hidden;
}

#rhand {
  position: relative;
  /* left: -28.4%;
  top: -71%; */
  left: -32.7%;
  top: -67%;
  visibility: hidden;
}

#legs {
  position: relative;
  left: -47.3%;
  top: -45.8%;
  visibility: hidden;
}

#ropes {
  height: 20%;
  margin-top: 57%;
  position: relative;
  left: -10%;
  top: -84.2%;
  visibility: hidden;
}

#stand {
  visibility: hidden;
  height: 63%;
  top: -52%;
  position: relative;
  left:60px
}

#keyboard {
  position: fixed;
  left: 58%;
  top: 44%;
  size: 56%;
  width: 35%;
  align-items: center;
}

.btn {
    height: 70px;
    width: 70px;
    font-size: 30px; 
    background-color:#C7E8CA;
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}

#wordSpotlight {
  position: relative;
  left: 65%;
  top: -127%;
  font-size: 59px;
}

#deadman{
  position: relative;
  top: -93%;
  left: 20;
}
